::-webkit-scrollbar {
    width: 8px;margin-right:24px;position:fixed;z-index:99999;
}
 
::-webkit-scrollbar-track {

    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color:#3E9CB4; /* eggshell f0ead6 */
/*    background:url(newphotos/bodybg.gif);  eggshell f0ead6 */
    z-index:99999;
  

}
 
::-webkit-scrollbar-thumb {
/*    border-radius: 50px;*/
    cursor:pointer;background-color:#21a559;/*sitegreen*/
    /*border:3px solid #ff406d;opacity:0.3;z-index:99999;*/
    background: #ff406d;
    

}